/* Importación de la fuente Poppins desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* Variables de colores principales */
:root {
    --primary-color: #c7a17a;
    --background-color: #f9f5f0;
    --dark-color: #151515;
}

/* Configuración general del documento HTML */
html {
    font-size: 62.5%; /* Se establece el tamaño base de la fuente a 10px */
    font-family: 'Poppins', sans-serif; /* Se utiliza la fuente Poppins para el documento */
}

/* Reset de márgenes, rellenos y caja del modelo */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ********************************** */
/*             UTILIDADES             */
/* ********************************** */

/* Contenedor principal con ancho máximo y centrado */
.container {
    max-width: 120rem;
    margin: 0 auto;
}

/* Estilo para el encabezado h1 */
.heading-1 {
    text-align: center;
    font-weight: 500;
    font-size: 3rem;
}

/* ********************************** */
/*               HEADER               */
/* ********************************** */

/* Contenedor del héroe con fondo */
.container-hero {
    background-color: var(--background-color);
}

/* Sección héroe con diseño flex y espacio entre elementos */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}

/* Sección de soporte al cliente con diseño flex y espacio entre elementos */
.customer-support {
    display: flex;
    align-items: center;
    gap: 2rem;
}

/* Ícono en la sección de soporte al cliente */
.customer-support i {
    font-size: 3.3rem;
}

/* Contenido de soporte al cliente con diseño de columna */
.content-customer-support {
    display: flex;
    flex-direction: column;
}

/* Contenedor del logotipo con diseño flex y espacio entre elementos */
.container-logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

/* Ícono en el contenedor del logotipo */
.container-logo i {
    font-size: 3rem;
}

/* Estilo del enlace dentro del logotipo */
.container-logo h1 a {
    text-decoration: none;
    color: #000;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: -1px;
}

/* Contenedor del usuario con diseño flex y espacio entre elementos */
.container-user {
    display: flex;
    gap: 1rem;
    cursor: pointer;
}


/* Ícono de carrito de compras en el contenedor del usuario */
.container-user .fa-basket-shopping {
    font-size: 3rem;
    color: var(--primary-color);
    padding-left: 1rem;
}

/* Contenido del carrito de compras con diseño de columna */
.content-shopping-cart {
    display: flex;
    flex-direction: column;
}

/* ************* NAVBAR ************* */

/* Contenedor de la barra de navegación con fondo de color principal */
.container-navbar {
    background-color: var(--primary-color);
}

/* Barra de navegación con diseño flex y espacio entre elementos */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

/* Ícono de menú en la barra de navegación */
.navbar .fa-bars {
    display: none;
}

/* Menú de navegación con diseño flex y espacio entre elementos */
.menu {
    display: flex;
    gap: 2rem;
}

/* Elemento de la lista del menú sin viñetas */
.menu li {
    list-style: none;
}

/* Enlace del menú con estilos */
.menu a {
    text-decoration: none;
    font-size: 1.3rem;
    color: var(--dark-color);
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
}

/* Efecto de línea debajo del enlace en el menú */
.menu a::after {
    content: '';
    width: 1.5rem;
    height: 1px;
    background-color: #fff;
    position: absolute;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%, 50%);
    opacity: 0;
    transition: all 0.3s ease;
}

/* Efecto de línea visible al pasar el ratón sobre el enlace en el menú */
.menu a:hover::after {
    opacity: 1;
}

/* Cambio de color al pasar el ratón sobre el enlace en el menú */
.menu a:hover {
    color: #fff;
}

/* Formulario de búsqueda con posición relativa */
.search-form {
    position: relative;
    display: flex;
    align-items: center;
    border: 2px solid #fff;
    border-radius: 2rem;
    background-color: #fff;
    height: 4.4rem;
    overflow: hidden;
}

/* Entrada de búsqueda en el formulario */
.search-form input {
    outline: none;
    font-family: inherit;
    border: none;
    width: 25rem;
    font-size: 1.4rem;
    padding: 0 2rem;
    color: #777;
    cursor: pointer;
}

/* Estilo del botón de búsqueda en el formulario */
.search-form .btn-search {
    border: none;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 1rem;
}

/* Ícono en el botón de búsqueda */
.btn-search i {
    font-size: 2rem;
    color: #fff;
}



/* ********************************** */
/*            TOP PRODUCTS            */
/* ********************************** */

/* Contenedor de los productos destacados con diseño de columna y espacio entre elementos */
.top-products {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 3rem;
}

/* Contenedor de opciones con diseño flex y espacio entre elementos */
.container-options {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 1rem;
}

/* Estilo del span en el contenedor de opciones */
.container-options span {
    color: #777;
    background-color: #fff;
    padding: 0.7rem 3rem;
    font-size: 1.4rem;
    text-transform: capitalize;
    border-radius: 2rem;
    cursor: pointer;
}

/* Cambio de color al pasar el ratón sobre el span en el contenedor de opciones */
.container-options span:hover {
    background-color: var(--primary-color);
    color: #fff;
}

/* Estilo del span activo en el contenedor de opciones */
.container-options span.active {
    background-color: var(--primary-color);
    color: #fff;
}

/* Contenedor de productos con diseño de cuadrícula y espacio entre elementos */
.container-products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 3rem;
}

/* Tarjeta de producto con fondo de color, relleno y sombra */
.card-product {
    background-color: #fff;
    padding: 2rem 3rem;
    border-radius: 0.5rem;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}

/* Contenedor de imagen con posición relativa */
.container-img {
    position: relative;
}

/* Imagen del producto con ancho del 100% */
.container-img img {
    width: 100%;
}

/* Estilos para la etiqueta de descuento dentro del contenedor de la imagen */
.container-img .discount {
    position: absolute;
    left: 0;
    background-color: var(--primary-color);
    color: #fff;
    padding: 2px 1.2rem;
    border-radius: 1rem;
    font-size: 1.2rem;
}

/* Cambiar el fondo de la etiqueta de descuento al pasar el ratón */
.card-product:hover .discount {
    background-color: #000;
}

/* Estilos para el grupo de botones */
.button-group {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: absolute;
    top: 0;
    right: -3rem;
    z-index: -1;
    transition: all 0.4s ease;
}

/* Estilos para botones individuales en el grupo de botones */
.button-group span {
    border: 1px solid var(--primary-color);
    padding: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.4s ease;
}

/* Cambiar el fondo del botón al pasar el ratón */
.button-group span:hover {
    background-color: var(--primary-color);
}

/* Estilos para el ícono en el grupo de botones */
.button-group span i {
    font-size: 1.5rem;
    color: var(--primary-color);
}

/* Cambiar el color del ícono al pasar el ratón */
.button-group span:hover i {
    color: #fff;
}

/* Ajustar la posición del grupo de botones al pasar el ratón sobre la tarjeta */
.card-product:hover .button-group {
    z-index: 0;
    right: -1rem;
}

/* Estilos para el diseño de cuadrícula del contenido de la tarjeta del producto */
.content-card-product {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, min-content);
    row-gap: 1rem;
}

/* Estilos para las estrellas en el contenido de la tarjeta del producto */
.stars {
    grid-row: 1/2;
    grid-column: 1/-1;
}

/* Estilos para los íconos de las estrellas */
.stars i {
    font-size: 1.3rem;
    color: var(--primary-color);
}

/* Estilos para el título en el contenido de la tarjeta del producto */
.content-card-product h3 {
    grid-row: 2/3;
    grid-column: 1/-1;
    font-weight: 400;
    font-size: 1.6rem;
    margin-bottom: 1rem;
    cursor: pointer;
}

/* Cambiar el color del título al pasar el ratón */
.content-card-product h3:hover {
    color: var(--primary-color);
}

/* Estilos para el botón "Agregar al carrito" */
.add-cart {
    justify-self: start;
    border: 2px solid var(--primary-color);
    padding: 1rem;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.4s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Cambiar el fondo del botón "Agregar al carrito" al pasar el ratón */
.add-cart:hover {
    background-color: var(--primary-color);
}

/* Estilos para el ícono en el botón "Agregar al carrito" */
.add-cart i {
    font-size: 1.5rem;
    color: var(--primary-color);
}

/* Cambiar el color del ícono al pasar el ratón sobre el botón "Agregar al carrito" */
.add-cart:hover i {
    color: #fff;
}

/* Estilos para el precio del producto en el contenido de la tarjeta del producto */
.content-card-product .price {
    justify-self: end;
    align-self: center;
    font-size: 1.7rem;
    font-weight: 600;
}

/* Estilos para el precio con descuento en el contenido de la tarjeta del producto */
.content-card-product .price span {
    font-size: 1.5rem;
    font-weight: 400;
    text-decoration: line-through;
    color: #777;
    margin-left: 0.5rem;
}





/* Estilos para la sección de blogs */
.blogs {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

/* Estilos para el contenedor de blogs */
.container-blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

/* Estilos para una tarjeta de blog individual */
.card-blog {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

/* Estilos para el contenedor de imagen en una tarjeta de blog */
.card-blog .container-img {
    border-radius: 2rem;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

/* Estilos para el grupo de botones de una tarjeta de blog */
.button-group-blog {
    position: absolute;
    bottom: 1.5rem;
    right: -2.5rem;
    display: flex;
    gap: 0.7rem;
    z-index: -1;
    transition: all 0.3s ease;
}

/* Ajustar la posición del grupo de botones al pasar el ratón sobre la tarjeta de blog */
.card-blog:hover .button-group-blog {
    z-index: 0;
    right: 1.5rem;
}

/* Estilos para un botón individual en el grupo de botones de una tarjeta de blog */
.button-group-blog span {
    background-color: #fff;
    padding: 1rem;
    border-radius: 50%;
    transition: all 0.4s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Estilos para el ícono en el grupo de botones de una tarjeta de blog */
.button-group-blog span i {
    font-size: 1.3rem;
}

/* Cambiar el fondo del botón al pasar el ratón en el grupo de botones de una tarjeta de blog */
.button-group-blog span:hover {
    background-color: var(--primary-color);
}

/* Cambiar el color del ícono al pasar el ratón en el grupo de botones de una tarjeta de blog */
.button-group-blog span:hover i {
    color: #fff;
}


/* Contenedor de productos con diseño de cuadrícula y espacio entre elementos */
.container-products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 3rem;
    max-width: calc(25rem * 4 + 3rem * 3); /* Ajusta el ancho máximo en función del número de cartas deseadas */
    margin: 0 auto; /* Centra el contenedor */
}

.container-products {
    gap: 10rem; /* Ajusta el espacio entre las cartas según sea necesario */
    
}


/* Estilo inicial para la imagen dentro de la tarjeta */
.container-img img {
    width: 100%;
    transition: transform 0.3s ease; /* Agregar una transición suave al cambio de tamaño */
}

/* Al pasar el ratón sobre la tarjeta, agranda la imagen */
.card-product:hover .container-img img {
    transform: scale(1.1); /* Puedes ajustar el factor de escala según tus preferencias */
}

/* Estilos para el botón "Agregar al carrito" */
.btn-read-more {
    padding: 0.8rem 1.5rem; /* Ajusta el padding según tus preferencias */
    background-color: var(--primary-color);
    color: #fff;
    text-transform: uppercase;
    font-size: 1.2rem; /* Ajusta el tamaño de la fuente según tus preferencias */
    border-radius: 2rem;
    cursor: pointer;
}

/* Cambiar el color del texto del botón "Catálogo" a blanco */
.container-navbar .menu li:nth-child(2) a {
    color: white;
}









